# 构建输出目录
hpm5300evk_flash_xip_debug/
hpm5300evk_flash_xip_*/
**/CMakeFiles/
**/output/
**/.ninja_deps
**/.ninja_log
**/build/

# 编译产物
*.obj
*.o
*.a
*.elf
*.bin
*.hex
*.map
*.asm
*.lst

# IDE / 工具缓存
.workbuddy/
.vscode/
.vs/
*.user
